@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.divider {
    border-bottom: 2px solid #f5f5f5;
}

::-webkit-scrollbar {
    width: 1px;
    background: #000000;
}

.scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

.progressbar {
    position: fixed;
    top: 0;
    border-radius: 35px;
    right: 0;
    width: 5px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: progresbar 5s linear infinite;
}

@keyframes progresbar {
    0%, 100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

.progressbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

.progressbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

.navbar {
    font-family: 'Poppins', sans-serif;
}

.bg-negro {
    background: #000000;
}

h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 0;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 80px;
}

h3 {
    font-weight: 600;
}

p {
    margin-bottom: 0;
}

section {
    font-family: 'Quicksand', sans-serif;
    min-height: 700px;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('../img/fondo.jpg');
    color: #ffffff;
    background: linear-gradient( to right, hsla(0, 0%, 0%, 0.801), hsla(0, 0%, 15%, 0.808)), url('../img/fondo.jpg');
    background-position: center;
    background-size: cover;
}

.centrado {
    text-align: center;
}

.img-principal {
    width: 250px;
    border-radius: 100%;
    box-shadow: 10px 5px 5px black;
}

.boton-principal {
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 40px;
    overflow: hidden;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
}

.boton-principal:hover {
    color: #ffffff;
}

.efecto-boton {
    position: absolute;
    background: #ffffff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.top-xm {
    padding-top: 70px;
}

.sobre-mi {
    background: #f5f5f5;
    padding-bottom: 90px;
}

.contenedor-graficos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-grafico {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-grafico .porcentaje {
    position: relative;
    width: 150px;
    height: 150px;
}

.contenedor-grafico .porcentaje svg {
    position: relative;
    width: 150px;
    height: 150px;
}

.contenedor-grafico .porcentaje circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}

.contenedor-grafico .porcentaje svg .circulo-html:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}

.contenedor-grafico .porcentaje svg .circulo-html:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 90) / 100);
    stroke: #F27C20;
}

.contenedor-grafico .porcentaje svg .circulo-css:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}

.contenedor-grafico .porcentaje svg .circulo-css:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: #20D9F2;
}

.contenedor-grafico .porcentaje svg .circulo-js:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}

.contenedor-grafico .porcentaje svg .circulo-js:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 85) / 100);
    stroke: #FFEE41;
}


.contenedor-grafico .porcentaje .numero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.contenedor-grafico .porcentaje .numero h4 {
    font-size: 48px;
}

.contenedor-grafico .porcentaje .numero h4 span {
    font-size: 24px;
}

.contenedor-grafico .habilidad {
    padding: 10px 0 0;
    color: #999;
}

.proyectos {
    background: #f5f5f5;
    padding-top: 65px;
    padding-bottom: 65px;
    min-height: 700px;
}

.proyecto-rounded {
    border-radius: 10px;
}

.proyecto-shadow{
    box-shadow: 6px 5px 5px rgb(163, 163, 163);
}

.span-proyectos{
    font-size: 20px;
}

.contacto-contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn-envio {
    color: #ffffff;
}

.btn-envio:hover {
    background: #ffffff;
    border-color: #000000;
    color: #000000;
}

ul {
    margin-bottom: 0;
}

.fa {
    font-size: 1.5em;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #000000;
    color: #ffffff;
    text-align: center;
    min-height: 200px;
}

.footer a {
    color: #ffffff;
}
.nombre_footer{
    font-size: 20px;
}

@media (max-width: 575.98px) {
    h1 {
        font-size: 60px;
        line-height: normal;
    }
    h2 {
        font-size: 30px;
        line-height: normal;
    }
    .img-principal {
        width: 200px;
        border-radius: 100%;
    }
    section{
        min-height: auto;
    }
    .home{
        padding-top: 50px;
    }
}

@media (max-width: 767.98px) {
    h1 {
        font-size: 43px;
        line-height: normal;
    }
    h2 {
        font-size: 30px;
        line-height: normal;
    }
    .img-principal {
        width: 150px;
        border-radius: 100%;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {
    .proyectos {
        min-height: 0;
    }
}

@media (max-width: 1399.98px) {}